html {
  margin: 0;
  padding: 0;
}

body { 
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #122640;
  background-color:#efefef;
  font-size: 14px;
  padding: 10px;
  line-height: 1.5;
}

header {
  font-family: 'roboto','Courier New', Courier, monospace;
  font-size: 24px;
  font-weight: bold;
  color: #1B72BF;
  background-color: white;
  padding: 5px;
  text-align: center;
  border-radius: 20px;
}

h1 {
  font-family: 'roboto','Courier New', Courier, monospace;
  font-size: 24px;
  font-weight: bold;
  color: #1B72BF;
  background-color: white;
  padding: 5px;
  border-radius: 20px;
}

.content {
  background-color: white;
  border-radius: 20px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: justify;
}

blockquote {
  border-radius: 3px;
  position: relative;  
  font-style: italic;
  text-align: center;
  padding: 1rem 1.2rem;
  width: 80%;  
  color: #4a4a4a;
  margin: 1rem auto 2rem;
  color: #4a4a4a;
  background: #E8E8E8;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a{
  width: 40%;
  margin-left: 30%;
  margin-bottom: 10px;
}

a:link, a:visited{
  background-color: #122640;
  color: white;
  padding: 14px 25px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
}

a:hover{
  background-color: #1B72BF;
}

table {
  border-collapse: collapse;
  width: 90%;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}

table, th, td {
  border: 1px solid #122640;
}

td {
  width: 50%;
  padding-left: 5px;
}

th, tr {
  height: 40px;
  padding-left: 5px;
}

ul li {
  padding: 5px;
}

ol li {
  padding: 5px;
}